body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #ddd;
}

#box { 
	width: 100px;
	height: 100px;
	position: absolute; 
	left: 200px; 
	top: 200px; 

	background-image: url("./b8ahwKP.jpg");
	background-size: cover;   
    background-position: center;  
}